/**
 * dialog-form
 * @author ydr.me
 * @create 2019-08-14 14:03:18
 * @update 2019-08-14 14:03:18
 */

@import 'variables';

.dialog-form {
  &__title {
    color: $app-base-color;
    line-height: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__divide {
    border: 0;
    border-bottom: 1px solid $app-border-color;
    margin: 15px 0;
  }

  &__footer {
    text-align: center;
  }
}
