/**
 * _variables
 * @author ydr.me
 * @create 2019-08-08 11:07:15
 * @update 2019-08-08 11:07:15
 */

// 侧边颜色
$app-aside-bg: #4f6a8a;
$app-aside-font-color: rgba(246, 246, 246, 0.9);
$app-aside-font-active: #ffffff;
$app-aside-bg-active: rgb(64, 158, 255);
$app-aside-sub-bg: #405a79;
$app-aside-sub-hover: #4f6a8a;
$app-aside-item-hover: #405a79;

// 背景色
$app-body-bg: #eef3f9;

// 主要：前景色
$app-primary-color: #4a8bfe;
// 主要：背景
$app-primary-bg: #d6e5ff;

// 基本：前景色
$app-base-color: #686e82;
$app-base-hover: #3b3d49;

// 成功：前景色
$app-success-color: #3ec5a2;

// 警告：前景色
$app-warn-color: #fe694a;

// 危险：前景色
$app-danger-color: #f76950;

// 边框颜色
$app-border-color: #d7d8dc;

// 静音：前景色
$app-muted-color: #c0c5d3;

// 灰
$app-grey-color: #9ba1b5;

// 轻色：前景色
$app-light-color: #f6f7f8;

// 聚焦：背景色
$app-hover-color: #f5f7fa;

// 应用宽度
$app-width: 1440px;
$app-aside-width: 200px;
