/**
 * _variables
 * @author ydr.me
 * @create 2019-08-08 11:07:15
 * @update 2019-08-08 11:07:15
 */

// 侧边颜色
$app-aside-bg: #4f6a8a;
$app-aside-font-color: rgba(246, 246, 246, 0.9);
$app-aside-font-active: #ffffff;
$app-aside-bg-active: rgb(64, 158, 255);
$app-aside-sub-bg: #405a79;
$app-aside-sub-hover: #4f6a8a;
$app-aside-item-hover: #405a79;

/**
 * 主题色/功能色
 */
// 背景色
$app-body-bg: #eef3f9;

// 主题色/功能色
$app-primary-color: #00b2f8;
// 主题色/减淡
$app-primary-light: #e4f7ff;
// 主要：背景
$app-primary-bg: #d6e5ff;

// 成功
$app-success-color: #00d38d;
// 成功-减淡
$app-success-light: #eafff8;

// 提示
$app-warn-color: #ffba00;
// 提示-减淡
$app-warn-light: #fffaec;

// 危险
$app-danger-color: #fe694a;
// 危险-减淡
$app-danger-light: #fff0ed;

/**
 * 文字
 */
//  主要文本色
$app-text-1-color: #384660;
//  次级文本色
$app-text-2-color: #909399;
//  提示/无效文本色
$app-text-3-color: #cfcfcf;

/**
 * 灰度
 */
// 黑灰（控制台 + 视频空窗口）
$app-grey-1-color: #2a2a2a;
// 深灰
$app-grey-2-color: #909399;
// 灰色（nomal输入框边框 + disable按钮填充/边框 ）
$app-grey-3-color: #cfcfcf;
// 浅灰（disable输入框边框 ）
$app-grey-4-color: #ebecef;
// 白灰（disable输入框填充 ）
$app-grey-5-color: #f5f7fa;

/**
 * 导航栏
 */
// 底色 + 二级标题hover
$nav-bg-color: #4f6a8a;
// 一级标题hover + 展开二级标题
$nav-hover-color: #405a79;

// 应用宽度
$app-width: 1440px;
$app-aside-width: 200px;


// 待弃用，目前菜单蓝有用到！！！！！
// 边框颜色
$app-border-color: #d7d8dc;
// 静音：前景色
$app-muted-color: #c0c5d3;
// 轻色：前景色
$app-light-color: #f6f7f8;

// 聚焦：背景色
$app-hover-color: #f5f7fa;

// 应用宽度
$app-width: 1440px;
$app-aside-width: 200px;
